.editFormHidden {
  background: rgb(237, 237, 237, 0.3);
  padding: 20px;
  width: 500px;

  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
  border-radius: 10px;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.5s;
  box-shadow: 2px 2px 5px rgb(117, 117, 117);
}
.editFormShown {
  padding: 50px;
  width: 500px;
  z-index: 80;
  transform-origin: center;
}

.editForm input:not(.editIdField),
.editForm select {
  display: block;
  padding: 15px;
  border-radius: 20px;
  border: none;
  background-color: rgb(228, 228, 228);
  outline: none;
}

.editBtn {
  padding: 15px;
  width: 50%;
  margin: auto;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  margin-top: 15px;
  cursor: pointer;
  background-color: rgb(228, 228, 228);
  transition: all 0.35s;
}

.editBtn:hover {
  background-color: rgb(219, 219, 219);
}

.editFormHeading {
  text-align: center;
}

.hide_edit_form {
  padding: 30px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px rgb(117, 117, 117);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.35s;
  background-color: white;
  rotate: 45deg;
  margin: auto;
  margin-bottom: 100px;
}

.edit_form_div_hidden {
  width: max-content;
  position: absolute;
  bottom: 950px;
  left: 800px;
  transition: all 0.35s;
}

.edit_form_div_shown {
  width: max-content;
  bottom: 250px;
}

.editIdField {
  font-weight: bold; /* Typically equivalent to 700 */
  font-size: 30px;
  width: 60px;
  border: none;
  background: transparent;
}
